/*  Style */


html {
    background-color : #e6e9e9;
    
}

body { 
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    
}

header {
    font-size: 18px;
    font-weight: 800;

}

header a:link {
    text-decoration: none;
    
}

h1 { background-color :floralwhite;
    letter-spacing: 0.3em;
}

h2 { background-color :floralwhite;
letter-spacing: 0.1em ;
}

nav > ul {
    line-height: 2em;
    list-style-type: circle;
    padding-left: 20px;
}

section { background-color : aliceblue;
    font-weight: 400;
    letter-spacing: 0.12em;
    
}


footer { background-color: beige;
   font-family: monospace, serif;
	font-family: 'courier new', monospace;
	font-size: 1em;
    text-align: right;
   
}



/* Layout */

body {
   margin-left: auto;
   margin-right: auto;
   width: 900px;
   background-color: floralwhite;
}

body > header > div {
   display: block;
   width: 100%;
}

body > header > nav.horizontalNavigation li {
   width: 30%;
}

nav.horizontalNavigation {
 height: 30px;
}

nav.horizontalNavigation > ul > li {
   display: block;
   float: left;
    text-align: center;
}

nav.horizontalNavigation a:link, 
nav.horizontalNavigation a:visited {
   color: cadetblue;
   background-color: beige;
}

nav.horizontalNavigation a:hover, 
nav.horizontalNavigation a:active {
   background-color: rgb(22, 80, 29);
} 


body > header h1 {
   font-size: 50px;
   line-height: 1.0em;
   font-family: Champagne, cursive;
   letter-spacing: 0.1em;
   text-align: center;
   font-weight: bold;
   color: darkcyan;
   padding-top: 20px;

}

section {
    padding: 20px;
    height: 600px;
}

div {
    width: 100%;
    height: 700px;
}

section h2 {
   font-size: 20px;
   line-height: 2.0em;
   font-family: Champagne, cursive; 
   letter-spacing: 0.1em;
   font-weight: bold;
   color: cadetblue;

}

section img {
    width:100%
}

section a:link, 
section a:visited {
   color: cadetblue;
    text-decoration: none;
}

section#left {
   float: left; 
   width: 45%;

}

section#right {
    float: right;
    width: 45%;

}

footer {
    
    padding-top: 5px;
}